<%# path: app/views/public_recipes/index.html.erb %>

<h2>List of all public recipes: </h2>

<% @public_recipes.each do |pr| %>
  <p class="pr-name"><%= link_to pr.name, recipe_path(pr) %></p>
  <p class="pr-user-name"><%= pr.user.name %></p>
  <p class="pr-recipe-foods-count">Total food items: <%= pr.recipe_foods.count %></p>
  <p class="pr-total-price">Total price: $ ... <%= pr.total_price %></p>
<% end %>
