<%# path: app/views/public_recipes/index.html.erb %>

<h2>List of all public recipes: </h2>

<% @public_recipes.each do |pr| %>
  <p><%= link_to pr.name, recipe_path(pr) %></p>
  <p><%= pr.user.name %></p>
  <p>Total food items: <%= pr.recipe_foods.count %></p>
  <p>Total price: $ ... <%= pr.total_price %></p>
<% end %>
