<%# path: app/views/public_recipes/index.html.erb %>

<h2>Public recipes</h2>

<ul class="recipes-index-ul">
  <% @public_recipes.each do |pr| %>
    <li class="li">
      <div class="left">
        <p class="pr-name"><%= link_to pr.name, recipe_path(pr) %></p>
        <p class="pr-user-name">By: <%= pr.user.name %></p>
      </div>
      <div class="recipe-description">
        <p class="pr-recipe-foods-count">Total food items: <%= pr.recipe_foods.count %></p>
        <p class="pr-total-price">Total price: $ ... <%= pr.total_price %></p>
      </div>
    </li>
  <% end %>
<ul>