<h1>Welcome <%= @user.name %> </h1>
<p>(This user has the id: <%= @user.id %>)</p>

<% if user_signed_in? %>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Show foods', foods_path %>  
<% end %>