* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  white-space: nowrap;
}

body {
  padding: 20px;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

h1 {
  font-size: 2rem;
}

nav,
nav div,
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  justify-content: right;
  list-style: none;
  column-gap: 10px;
}

li {
  list-style: none;
}

.navbar-image {
  width: 50px;
}

.yield {
  border: 5px solid black;
  width: fit-content;
  margin: 0 auto;
}

/* users index */

.li:nth-child(even) {
  background-color: lightgray;
}

.li:nth-child(odd) {
  background-color: rgb(221, 221, 221);
}

.btn {
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

/* recipes index */

.recipes-index-ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.recipes-index-ul li {
  display: flex;
}

